@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');


input[type="search"]::-webkit-search-cancel-button
{
  -webkit-appearance:none;
}

html{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Play', serif;
    width: 100%;
    margin: 0;
    background-color: #000;
}

h1{
    font-size: 30pt;
}
h2{
    color: #fff;
    font-size: 30px;
    width: auto;
    margin: 0;
    margin-bottom: 20px;
}
p{
    font-family: 'Play', serif;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #a3a3a3;
}
.header-wrapper{
    border-bottom: 2px solid #9f0e0e;
    height: 48px;
    width: 100%;
    position: fixed;
    z-index: 4;
    background-color: #000000;
}
.burger-menu-button{
    display: none;
    color: #fff;
    border: 0;
    background-color: #000;
    border-radius: 0;
    height: 48px;
    padding-top: 17px;
    justify-content: space-evenly;
    width: fit-content;
    cursor: pointer;
}
.burger-menu-button:hover{
    background-color: #9f0e0e;
    transition: 0.3s;
}
.burger-menu-wrapper {
    position: fixed;
    top: 0;
    left: -300px; /* Прячем за левый край */
    width: 250px;
    height: 100vh;
    background-color: #000;
    z-index: 4;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: left 0.3s ease-in-out;
}
.burger-menu-container{
    padding-left: 50px;
}
.burger-menu-container .header-connect-buttons{
    margin-top: 20px;
    display: none;
}
.burger-menu-container button{
    justify-content: flex-start;
}
.burger-menu-container .header-logo{
    margin-bottom: 20px;
}
.burger-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Затемнение */
    backdrop-filter: blur(5px); /* Размытие */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.burger-menu-wrapper.active {
    left: 0;
}

.burger-menu-overlay.active {
    opacity: 1;
    visibility: visible;
}
.header-logo{
    margin-right: 50px;
    cursor: pointer;
}
.header-body{
    max-width: 1600px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.header-left-part{
    max-width: 963px;
    display: flex;
    justify-content: flex-start;
}
.header-nav-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 48px;
    position: relative;
}
.header-nav-button{
    background-color: #000;
    width: fit-content;
    height: 48px;
    padding-top: 17px;
    border: 0;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    cursor: pointer;
}
.header-nav-button:hover{
    transition: 0.3s;
    background-color: #9f0e0e;
}
.header-nav-button-label{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    white-space: nowrap;
}
.header-right-part{
    max-width: 480px;
    margin-left: 20px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.header-search{
    background-color: #131313;
    border: 0;
    font-family: Play;
    max-width: 400px;
    min-width: 150px;
    width: 100%;
    color: #fff;
    background-image: url('assets/icons/search-icon.svg');
    background-position: 95%; 
    background-repeat: no-repeat;
    text-indent: 5px;
    color: #a3a3a3;
}
.header-search::placeholder{
    font-family: Play;
    text-indent: 5px;
    color: #a3a3a3;
}
.header-search:focus{
    outline: 2px solid #9f0e0e;
}
.header-connect-buttons{
    max-width: 110px;
    display: flex;
    gap: 5px;
}
.header-connect-button{
    background-color: #000;
    width: fit-content;
    height: fit-content;
    border: 0;
    padding: 0;
}
.header-connect-icon{
    cursor: pointer;
}
.header-connect-icon:hover ellipse{
    transition: 0.3s;
    fill: #E08026;
}
.header-functional-buttons{
    max-width: 94px;
    display: flex;
    gap: 10px;
    margin-top: 3px;
    
}
.header-functional-buttons button{
    background: none;
    padding: 0;
    margin: 0;
    border:0;
    
}
.header-funcbutton-icon{
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.header-more-button{
    display: none;
    position: relative;
}
.header-more-menu {
    display: none;
    position: fixed;
    flex-direction: column;
    top: 48px;
    background:#131313;
    border: 2px solid #9f0e0e;
    z-index: 5;
    width: fit-content;
}

.header-more-menu button {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: flex-start;

}

.header-more-menu button:hover {
    background-color: #9f0e0e;
}
.catalogue-menu {
    position: fixed;
    top: 50px;
    z-index: -1;
    left: 0;
    display: none;
    max-width: 1200px;
    min-width: 900px;
    min-height: 200px;
    font-size: 14px;
    background-color: #131313;
    border-bottom: 2px solid #9f0e0e;
    border-left: 2px solid #9f0e0e;
    border-right: 2px solid #9f0e0e;
    color: #fff;
    z-index: 6;
}
.catalogue-menu.burger-active {
    max-width: fit-content;
    border-top: 2px solid #9f0e0e;
    min-width: auto;
    margin-top: 45px;
    height: auto;
}
.catalogue-menu.burger-active .category-content{
    height: auto;
}
.catalogue-menu.burger-active .category-list{
    flex-direction: column;
    margin-bottom: 10px;
}
.catalogue-menu.burger-active .catalogue-divider{
    height: 22vh;
    margin-bottom: 0;
    margin-top: 10px;

}
.catalogue-menu-left ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.catalogue-menu-left ul li {
    padding: 10px;
    cursor: pointer;
}

.catalogue-menu-left ul li:hover {
    background-color: #9f0e0e;
}
.catalogue-menu-left li{
    width: 200px;
    text-indent: 10px;
    display: flex;
    justify-content: space-between;
}
.catalogue-divider{
    width: 1px;
    height: 170px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #a3a3a3;
}
.catalogue-menu-right {
    width: 80%;
    min-height: 180px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
}

.category-content {
    display: none; /* Скрываем все категории по умолчанию */
    height: 180px;
    padding-top: 20px;
}

.category-content.active {
    display: block; /* Показываем активную категорию */
}

/* Показываем меню при наведении на кнопку "КАТАЛОГ" */
.header-catalogue-button:hover + .catalogue-menu,
.catalogue-menu:hover {
    display: flex;
}
.catalogue-category-title{
    margin-top: 0;
    margin-bottom: 20px;
}
.category-list{
    max-width: 800px;
    height: auto;
    color: #a3a3a3;
    display: flex;
    justify-content: flex-start;
}
.computers-list-titles{
    margin: 0;
    padding: 0;
    margin-right: 20px;
}
.category-list li{
    height: fit-content;
    width: 260px;
    margin-bottom: 15px;
    height: 16px;
    cursor: pointer;
}
.category-list li:hover{
    text-decoration: underline;
}

.slider-wrapper {
    padding-top: 50px;
    position: relative;
    max-width: 1920px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.slider-content {
    position: relative;
    max-height: 700px;
}

/* Слайды с изображениями и текстом */
.slider-images {
    max-width: 1920px;
    display: flex;
    transition: transform 0.5s ease-in-out; /* Анимация сдвига */
}

.slide {
    min-width: 100%; /* Каждый слайд занимает 100% ширины */
    height: 100%;
    position: relative; /* Для позиционирования текста внутри слайда */
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Изображение как фон */
    right: 0;
}

/* Текстовый блок внутри слайда */
.slider-title {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    width: 30%;
    color: #fff;
    z-index: 2; /* Текст поверх изображения */
}

.slider-title h1 {
    font-size: 4vw;
    margin-bottom: 3vh;
}

.slider-title p {
    font-size: 1.5vw;
}

/* Кнопки навигации */
.slider-nav {
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: none;
    color: #9f0e0e;
    font-size: 50px;
    cursor: pointer;
    z-index: 3; /* Кнопки поверх текста и изображения */
}

.slider-nav.prev {
    left: 2.5%;
    padding: 0;
}

.slider-nav.next {
    right: 2.5%;
    padding: 0;
}
.slider-nav img{
    transform: scale(0.7);
}
.slider-nav:hover img {
    transition: 0.3s;
    filter: brightness(150%);
}

/* Индикаторы */
.slider-indicators {
    position: absolute;
    max-width: 100px;
    bottom: 20px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    transform: translateX(-50%);
    z-index: 3; /* Индикаторы поверх текста и изображения */
}

.indicator {
    width: 20px;
    height: 20px;
    background-color: #9e9e9e;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.indicator.active {
    background-color: #9f0e0e;
    opacity: 1;
}
.computer-series-title-wrapper{
    max-width: 1600px;
    width: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.series-title-wrapper{
    max-width: 752px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.series-title-caption{
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
    color: #9f0e0e;
}
.computer-series-wrapper{
    margin-top: 50px;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.series-part{
    max-width: 20%;
    background-color: #131313;
    padding: 20px;
}
.series-part img{
    max-width: 360px;
    width: 100%;
}
.series-part-title{
    max-width: 365px;
    font-size: 20px;
    width: 100%;
    text-align: center;
}
.series-part p{
    color: #fff;
    font-weight: bold;
}
.series-part-caption{
    color: #9e9e9e;
    font-size: 14px;
    max-width: 365px;
    line-height: 14pt;
    margin-top: 10px;
}
.series-part-price{
    font-size: 30px;
    width: fit-content;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.button-container{
    width: 100%;
    display: flex;
    align-items: center;
    height: fit-content;
}
.computer-series-part-button{
    max-width: 210px;
    width: 100%;
    height: 30px;
    background-color: #9f0e0e;
    border: none;
    color: #fff;
    font-size: 14px;
    font-family: Play;
    font-weight: bold;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;

}
.computer-series-part-button:hover{
    transition: 0.3s;
    background-color: #E08026;
}
/* Новый слайдер */
.second-slider-wrapper {
    position: relative;
    width: 100%; /* Занимает всю ширину окна */
    max-height: 280px; /* Минимальная высота */
    overflow: hidden;
    margin-top: 50px;
}

.second-slider-wrapper .slider-content {
    position: relative;
    max-height: 280px;
}

/* Слайды с изображениями и текстом */
.second-slider-wrapper .slider-images {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out; /* Анимация сдвига */
}

.second-slider-wrapper .slide {
    position: relative; /* Для позиционирования текста внутри слайда */
}

.second-slider-wrapper .slide img {
    width: 100%;
    object-fit: cover; /* Изображение как фон */
}

/* Текстовый блок внутри слайда */
.second-slider-wrapper .slider-title {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    width: 30%;
    color: #fff;
    z-index: 2; /* Текст поверх изображения */
}

/* Кнопки навигации */
.second-slider-wrapper .slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #9f0e0e;
    font-size: 50px;
    cursor: pointer;
    z-index: 3; /* Кнопки поверх текста и изображения */
}

.second-slider-wrapper .slider-nav.prev {
    left: 2.5%;
    padding: 0;
}

.second-slider-wrapper .slider-nav.next {
    right: 2.5%;
    padding: 0;
}

.second-slider-wrapper .slider-nav:hover img {
    transition: 0.3s;
    filter: brightness(150%);
}

/* Индикаторы */
.second-slider-wrapper .slider-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 3; /* Индикаторы поверх текста и изображения */
}

.second-slider-wrapper .indicator {
    width: 20px;
    height: 20px;
    background-color: #9e9e9e;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.second-slider-wrapper .indicator.active {
    background-color: #9f0e0e;
    opacity: 1;
}

.configurator-banner-wrapper {
    margin-top: 50px;
    width: 100%;
    max-height: 450px;
    position: relative;
    overflow: hidden;
}
.configurator-banner-container{
    width: 100%;
    max-height: 500px;
    display: flex;
}
.configurator-banner-left-part {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: fit-content;
    max-height: 405px;
    margin-left: 8vw;
}

.configurator-banner-title {
    max-width: 851px;
    height: fit-content;
    font-size: 2vw; /* Размер текста зависит от ширины экрана */
    font-weight: bold;
    color: #fff;
    margin: 0;
}

.configurator-banner-back {
    position: absolute;
    bottom: 0;
    width: 100%; /* Изображение занимает всю ширину контейнера */
    object-fit: contain; /* Сохраняем пропорции изображения, не обрезая его */
    z-index: -2; /* Фоновое изображение */
}

.configurator-banner-pc {
    margin-left: 3%;
    margin-top: auto;
    width: 30%;
}

.configurator-banner-button {
    padding: 0;
    margin-top: 25px;
    width: 70%;
    height: 7vw;
    font-weight: bold;
    color: #fff;
    background-color: #9f0e0e;
    font-size: 2vw; /* Размер текста зависит от ширины экрана */
    font-family: Play;
    border: 0;
    cursor: pointer;
    margin-bottom: 10px;
}

.configurator-banner-button:hover {
    background-color: #E08026;
    transition: 0.3s;
}
.configurator-banner-button:hover {
    background-color: #E08026;
    transition: 0.3s;
}
.advantages-banner-wrapper{
    margin-top: 50px;
    width: 100%;
    background-image: url('assets/Images/banners/why-we-banner.png');
    background-position: center;
}
.advantages-banner-image{
    position: absolute;
    z-index: -1;
    width: 100%; /* Изображение занимает всю ширину контейнера */
    object-fit: cover; /* Сохраняем пропорции изображения, не обрезая его */
}
.advantages-container{
    max-width: 1600px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.advantages-title{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.advantages-flex {
    max-width: 1600px;
    height: auto;
    display: flex;
    gap: 20px; /* Расстояние между элементами */
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    justify-content: space-around; /* Элементы выравниваются по левому краю */
}

.advantage-item {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto; /* Элементы растягиваются, чтобы заполнить доступное пространство */
    max-width: 20%; /* Минимальная ширина элемента */
}
.advantage-image {
    width: 100px;
    height: 80px;
}

.advantage-title {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.advantage-caption {
    color: #9e9e9e;
    max-width: 344px;
    text-align: center;
}
.news-wrapper{
    margin-top: 50px;
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.news-title{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.news-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    row-gap: 20px;
    gap: 20px;
}
.news-item{
    max-width: 345px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.news-image{
    max-width: 345px;
}
.news-caption{
    color: #ffffff;
    max-width: 345px;
}
.news-info{
    max-width: 345px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.news-source, .news-date{
    color: #9e9e9e;
}
.footer-wrapper{
    border-top: 2px solid #9f0e0e;
    margin-top: 50px;
    width: 100%;
    height:auto;
    background-color: #000000;
    font-size: 16px;
    color: #9e9e9e;
}
.footer-content{
    max-width: 1600px;
    height: auto;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.footer-left-part{
    max-width: 230px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 100px;
}
.footer-icons{
    max-width: 221px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    max-width: 221px;
    width: 100%;
}
.subscribe{
    max-width: 230px;
}
.footer-button svg{
    width: 60px;
    height: 60px;
}
.footer-right-part{
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    flex-wrap: wrap;
}
.footer-info{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    gap: 12px;
}
.info-row{
    font-weight: normal;
}
.info-row:hover{
    text-decoration: underline;
}
.info-3:hover{
    text-decoration: none;
}
.footer-warning{
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
}.configurator-wrapper{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.block-title{
    margin-bottom: 20px;
}
.configurator-container{
    padding: 20px;
    background-color: #131313;
}
.your-build-head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.mobile-price-label{
    display: none;
}
.your-build-head h2{
    margin-bottom: 0;
}
.configurator-build-container{
    display: flex;
}
.build-case-image{
    max-width: 356px;
}
.build-parts-flex{
    max-width: 1170px;
    padding-right: 34px;
    max-height: 340px;
    overflow-y: scroll;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-content: flex-start;
}
.build-parts-flex::-webkit-scrollbar {
    width: 10px;
    background: #000000;
}
.build-parts-flex::-webkit-scrollbar-thumb {
    background: #9f0e0e;
}
.build-part{
    width: 275px;
    height: 100px;
    color: #fff;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.chosen-part{
    background-color: #000;
    border: 2px solid #9f0e0e;
}
.ready-to-pick{
    border: 2px dashed rgb(255, 255, 255);
    font-size: 14px;
    cursor: pointer;
}
.ready-to-pick .part-text{
    display: none;
}
.ready-to-pick .part-replace-button{
    display:none;
}
.ready-to-pick .part-counter{
    display: none;
}
.pick-text{
    display: flex;
    align-items: center;
    gap: 10px;
}
.add-part-image{
    width: 60px;
}
.unavailable-to-pick{
    cursor:default;
    border: 2px dashed #9e9e9e;
}
.unavailable-to-pick p{
    color: #9e9e9e;
}
.unavailable-to-pick img{
    opacity: 0.5;
}
.build-part-title{
    margin-top: 6.5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}
.build-part-name{
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
}
.build-part-name a{
    color: #fff;
}
.build-part-name:hover{
    text-decoration: underline;
}
.build-part-price{
    font-weight: bold;
    font-size: 14px;
}
.part-replace-button{
    width: 40px;
    height: 40px;
    background-color: #9f0e0e;
    border: 0;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}
.part-replace-button:hover{
    transition: 0.3s;
    background-color: #E08026;
}
.part-counter{
    width: 25px;
    height: 96px;
}
.part-counter button{
    width: 25px;
    height: 25px;
    border-radius: 0;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: #212121;
    color: #fff;
    cursor: pointer;
    padding: 0;
}
.part-counter button:hover{
    transition: 0.3s;
    background-color: #9f0e0e;
}
.part-count{
    width: 25px;
    height: 46px;
    background-color: #fff;
    text-align: center;
    color: #000;
    line-height: 46px;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    border: 0;
    font-family: Play;
    border-radius: 0;
}
.part-count:focus{
    outline: 0;
}
.configurator-bottom{
    color: #fff;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.configurator-bottom-right-part{
    display: flex;
    height: 50px;
    align-items: center;
    gap: 20px;
}
.final-price-label{
    margin-top: auto;
    margin-bottom: auto;
}
.save-information{
    display: flex;
    gap: 10px;
}
.save-by-button{
    width: 70px;
    height: 40px;
    border-radius: 0;
    background-color: #9f0e0e;
    color: #fff;
    font-weight: bold;
    font-family: Play;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}
.save-by-button:hover{
    background-color: #E08026;
    transition: 0.3s;
}
.build-order-button{
    width: 240px;
    height: 50px;
    border-radius: 0;
    background-color: #9f0e0e;
    color: #fff;
    font-weight: bold;
    font-family: Play;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}
.build-order-button:hover{
    transition: 0.3s;
    background-color: #E08026;
}
.parts-list-wrapper{
    position: relative;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #131313;
    box-sizing: border-box;
    padding: 20px;
}
.right-popup-wrapper{
    display: flex;
    background-color: #000;
    width: 500px;
    position: fixed;
    z-index: 2;
    right: 0;
    height: 100vh;
    top: 0;
}
.parts-list-title{
    margin-bottom: 20px;
}
.parts-list-container{
}
.filters-button{
    display: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    width: 92px;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
}
.specs-drop-list{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.specs-drop-list-main{
    position: relative;
    min-width: 185px;
    width: fit-content;
    position: relative;
    height: 30px;
    background-color: #212121;
    color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    border-radius: 2px 2px 0px 0px;
    border: 2px solid #212121;
    cursor: pointer;
}
.drop-list-title{
    line-height: 14px;
    margin-left: 8px;
}
.droplist-icon{
    width: 15px;
    margin-right: 8px;
    transform: rotate(-90deg);
    transition: 0.3s;
}
.droplist-list{
    width: calc(100% + 4px);
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    margin-top: 30px;
    margin-left: -2px;
    background-color: #000;
    min-width: inherit;
    border: 2px solid #9f0e0e;
    border-top: 0px;
    line-height: 14px;
    border-radius: 0px 0px 2px 2px;
    box-sizing: border-box;
}
.droplist-item{
    height: 30px;
    box-sizing: border-box;
    padding: 7.5px;
    display: flex;
    justify-content: space-between;
}
.specs-drop-list-main:hover .droplist-list
{
    display: block;
}
.specs-drop-list-main:hover
{
    border-color: #9f0e0e;
}
.specs-drop-list-main:hover .droplist-icon
{
    transform: rotate(0deg);
    transition: 0.3s;
}
.droplist-checkbox{
    width: 15px;
    height: 15px;
    background-color: #fff;
    margin: 0;
}
.item-search-field{
    border: 0;
    font-family: Play;
    color: #fff;
    background-image: url('assets/icons/search-icon.svg');
    background-position: 95%; 
    background-repeat: no-repeat;
    text-indent: 5px;
    color: #a3a3a3;
    background-color: #000;
    width: 250px;
    height: 30px;
    margin-top: 10px;
}
.item-search-field:focus{
    border-radius: 0;
    outline: 2px solid #9f0e0e;
}
.pc-parts-list{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.parts-list-item{
    max-width: 380px;
    height: 180px;
    background-color: #000;
    display: flex;
    gap: 10px;
}
.list-item-image{
    margin: 10px;
    margin-right: 0;
}
.item-title-and-price{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 180px;
}
.item-name{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: auto;
}
.item-price{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    width: fit-content;
    margin-left: auto;
}
.item-buttons{
    display: flex;
    gap: 10px;
}
.item-info, .item-compare{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0;
    border: 0;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    font-family: Play;
    cursor: pointer;
}
.item-info{
    background-color: #E08026;
}
.item-compare{
    background-color: #9f0e0e;
}
.add-to-build{
    width: 30px;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
}
.add-to-build-icon{
    width: 21px;
    margin-top: auto;
    margin-bottom: auto;
}
.add-to-build:hover{
    transition: 0.3s;
    background-color: #E08026;
}
.item-remove-and-count{
    width: 30px;
    display: none;
}
.item-counter{
    width: 30px;
    height: 110px;
}
.item-counter button{
    width: 30px;
    height: 30px;
}
.item-counter input{
    height: 50px;
    width: 30px;
}
.remove-item-button{
    width: 30px;
    height: 70px;
    background-color: #9f0e0e;
    border: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
}
.remove-item-button:hover{
    background-color: #E08026;
    transition: 0.3s;
}
.added-item {
    border: 2px solid #9f0e0e;
}
.added-item .add-to-build{
    display: none;
}
.remove-item-button img{
    width: 22px;
}
.added-item .item-remove-and-count{
    display: block;    
}
@media (max-width: 1616px) {
    .news-container{
        max-width: 1450px;
    }
    .news-item{
        max-width: 300px;
    }
    .news-image{
        max-width: 300px;
    }
    .footer-content{
        max-width: 1400px;
        justify-content: space-between;
    }
    .configurator-wrapper, .parts-list-wrapper{
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media (max-width: 1436px) {
    .news-container{
        max-width: 1300px;
    }
    .news-item{
        max-width: 250px;
    }
    .news-image{
        max-width: 250px;
    }
    .first-about-button, .first-contacts-button, .first-guarantee-button{
        display: none;
    }
    .header-more-button{
        display: flex;
    }
    .footer-content{
        max-width: 1200px;
    }
}
@media (max-width: 1300px) {
    .header-nav-wrapper{
        justify-content: flex-start;
        gap: 5px;
    }
    .header-logo{
        margin-right: 20px;
    }
    
    .header-more-button p{
        margin-left: 5px;
        margin-right: 5px;
    }
    .computer-series-wrapper{
        max-width: 1100px;
    }
    .series-part{
        max-width: 20%;
    }
    .configurator-banner-left-part{
        margin-left: 50px;
    }
    .advantages-flex{
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
    .advantage-image{
        max-width: 90px;
    }
    .news-container{
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
    .news-item {
        max-width: 220px;
    }
    .news-image{
        max-width: 220px;
    }
    .footer-content{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .footer-left-part{
        max-width: 800px;
        flex-direction: row;
        margin-right: 0;
        justify-content: space-around;
    }
    .subscribe{
        max-width: 180px;
        width: 100%;
        padding-top: 15px;
    }
    .footer-icons{
        gap: 10px;
    }
    .configurator-bottom{
        flex-wrap: wrap;
    }
}
@media (max-width: 1120px) {
    .burger-menu-button{
        display: flex;
    }
    .header-nav-wrapper{
        display: none;
    }
    .computer-series-wrapper{
        max-width: 800px;
    }
    .series-part{
        max-width: 40%;
    }
    .news-container{
        max-width: 800px;
    }
    .news-item{
        max-width: 345px;
    }
    .news-image{
        max-width: 345px;
    }
    .advantages-flex{
        max-width: 800px;
    }
    .advantage-item{
        max-width: 345px;
    }
}

@media (max-width: 767px) {
    body{
        min-width: 320px;
    }
    .header-wrapper{
        height: 110px;
        position: static;
    }
    .header-body{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }
    .header-connect-buttons{
        display: none;
    }
    .header-functional-buttons{
        margin-top: 0;
        justify-content: flex-end;
    }
    .header-functional-buttons button{
        width: 20px;
        height: 20px;
    }
    .header-functional-buttons img{
        width: 20px;
        height: 20px;
        gap: 8px;
        width: auto;
    }
    .header-right-part{
        height: 70px;
        margin-top: 10px;
        margin-left: 0;
    }
    .header-search{
        position: absolute;
        height: 30px;
        width: calc(100% - 20px);
        max-width: 747px;
        margin-top: 40px;
        left: 10px;
        background-position: 98%;
    }
    .burger-menu-button{
        order: -1;
        padding-top: 10px;
        padding-left: 0;
        padding-right: 0;
    }
    .burger-menu-button img{
        width: 20px;
    }
    .burger-menu-button p{
        display: none;
    }
    .burger-menu-container .header-logo{
        position: static;
        margin-left: 56px;
    }
    .burger-menu-container .header-connect-buttons{
        margin-top: 20px;
        display: flex;
        margin-left: 6px;
    }
    .burger-menu-container .header-nav-button{
        width: 200px;
    }
    .header-logo{
        position: absolute;
        width: 100px;
        height: 24px;
        margin-right: 0;
        margin-top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .slider-wrapper{
        padding-top: 0px;
        height: 325px;
        height: 100%;
    }
    .slider-content{
        max-height: 325px;
        height: 100%;
    }
    .slider-images{
        height: 325px;
    }
    .slider-nav{
        display: none;
    }
    .slider-indicators{
        width: 50px;
        gap: 10px;
    }
    .slider-title{
        box-shadow: 0px 200px 43px -50px rgba(0, 0, 0, 0.5) inset;
        top: 125px;
        text-align: center;
        left: 0;
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
        height: 250px;
    }
    .slider-title h1{
        font-size: 30pt;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .slider-title p{
        font-size: 10pt;
        font-weight: bold;
    }
    .indicator{
        width: 10px;
        height: 10px;
    }
    .computer-series-title-wrapper{
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        width: fit-content;
    }
    .series-title-caption{
        font-size: 14pt;
    }
    .computer-series-wrapper{
        margin-top: 20px;
        max-width: 748px;
        flex-direction: column;
    }
    .series-part{
        max-width: 90%;
    }
    .computer-series-part-button{
        font-size: 14px;
        height: 30px;
    }
    .advantages-banner-wrapper{
        background-image: none;
    }
    .configurator-banner-wrapper{
        margin-top: 20px;
        max-width: 768px;
        height: 250px;
    }
    .configurator-banner-pc{
        display: none;
    }
    .configurator-banner-container{
        flex-direction: column;
        align-items: center;
    }
    .configurator-banner-back{
        object-fit: cover;
        height: 100%;
    }
    .configurator-banner-left-part{
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 30px;
    }
    .configurator-banner-title{
        text-align: center;
        font-size: 20px;
        max-width: 768px;
        margin-top: 20px;
    }
    .configurator-banner-button{
        width: 300px;
        height: 50px;
        font-size: 14pt;
    }
    .second-slider-wrapper{
        display: none;
    }
    .advantages-banner-wrapper{
        margin-top: 20px;
    }
    .news-wrapper{
        margin-top: 20px;
    }
    .news-container{
        max-width: 748px;
    }
    .footer-wrapper{
        margin-top: 20px;
    }
    .footer-content{
        margin-top: 20px;
    }
    .footer-left-part{
        flex-direction: column;
        max-width: 300px;
        gap: 20px;
    }
    .footer-logo{
        max-width: 300px;
        width: 300px;
    }
    .footer-icons{
        width: 220px;
    }
    .footer-info{
        margin-top: 0;
        margin-bottom: 0;
    }
    .footer-right-part{
        max-width: 300px;
        gap: 20px;
    }
    .configurator-wrapper{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
    }
    .configurator-build-container{
        flex-direction: column;
        align-items: center;
    }
    .build-parts-flex{
        padding-right: 0;
        align-items: center;
        width: 100%;
        background-color: #000;
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 10px;
    }
    .final-price-label{
        display: none;
    }
    .configurator-bottom-right-part{
        height: auto;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        margin-left: auto;
        margin-right: auto;
    }
    .mobile-price-label{
        display: block;
    }
    .build-parts-flex::-webkit-scrollbar {
        display: none;
    }
    .build-parts-flex::-webkit-scrollbar-thumb {
        display: none;
    }
    .build-case-image{
        width: 263px;
    }
    .ready-to-pick{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .build-part{
        padding-left: 10px;
        width: 100%;
    }
    .chosen-part{
        gap: 10px;
    }
    .part-replace-button{
        margin-left: auto;
    }
    .build-part-title{
        font-size: 14px;
    }
    .build-part-name{
        font-size: 14px;
    }
    .save-by-button{
        width: 80px;
    }
    .parts-list-wrapper{
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        background-color: #000;
    }
    .pc-parts-list{
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        flex-direction: column;
    }
    .filters-button{
        display: flex;
    }
    .parts-list-item{
        max-width: 747px;
        max-height: 142px;
        width: 100%;
        gap: 0;
        justify-content: space-between;
    }
    .list-item-image{
        width: 102px;
    }
    .item-name{
        font-size: 14px;
    }
    .item-buttons{
        justify-content: flex-end;
    }
    .item-buttons button{
        font-size: 12px;
    }
    .item-compare{
        width: 100px;
    }
    .item-remove-and-count{
        width: 24px;
    }
    .add-to-build{
        width: 24px;
    }
    .remove-item-button{
        width: 24px;
        height: 54px;
    }
    .item-counter{
        width: 24px;
        height: 88px;
    }
    .item-counter input{
        width: 24px;
        height: 40px;
    }
    .item-counter button{
        width: 24px;
        height: 24px;
    }
    .specs-drop-list{
        display: none;
    }
    .block-title{
        font-size: 20px;
        width: fit-content;
    }
    .item-search-field{
        background-color: #131313;
        max-width: 700px;
        width: 100%;
        margin-top: 10px;
    }
}
